.dropdown {    
    padding: 3px;
    padding-inline: 5px;
    line-height: 100%;
    display: flex;
    user-select: none;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    font-family: var(--display-font);
    color: black;
    box-sizing: border-box;
    height: 34px;
    border-bottom: 1px solid white;
    width: 100%;
    align-items: center;
}

.dropdownIconContainer {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}
.dropdownIcon {
    height: 8px;
    transform: rotate(0deg);
    transition: transform 0.2s;
    margin-right: 5px;
}
.dropdownOptions {
    overflow-y: hidden;
    height: 0px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s;
    z-index: 1001;
    -webkit-transition: height 0.5s, opacity 0.5s;
    -moz-transition: height 0.5s, opacity 0.5s;
    -ms-transition: height 0.5s, opacity 0.5s;
    -o-transition: height 0.5s, opacity 0.5s;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdownOptions::-webkit-scrollbar {
    width: 0px;
}
.dropdownOption {
    line-height: 34px;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-family: var(--display-font);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-inline: 5px;
}
.dropdownLabel {
    font-size: 20px;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    font-weight: 700;
    line-height: 34px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
