<div id="navbar">
    <a href="/">
        <h1 id="logo">COR<span class="special">DIFY</span></h1>
    </a>
    <div id="navbar-buttons">
        <a class="normal-button" id="search-button">Search</a>
        <a class="normal-button" id="reviews-button">Reviews</a>
        <a class="normal-button" id="dashboard-button" href="/dashboard">Dashboard</a>
    </div>
    <div id="navbar-right-align">
        
        <% if(!loggedIn) { %>
        <a class="special-button" id="login-button" href="/auth">
            <span>LOGIN</span>
            <img src="/icons/discord-logo.png">
        </a>
        <% } else { %>
            <div id="profile">
                <p id="username"><%- userData.username %></p>
                <img ondragstart="return false" src="<%- `https://cdn.discordapp.com/avatars/${userData.id}/${userData.avatar}` %>" id="profile-icon">
            </div>
        <% } %>
        
    </div>
</div>