<div id="not-logged-in-background">

</div>
<div id="not-logged-in-popup">
    <div id="not-logged-in-header">
        <p>
            Not logged in!
        </p>
        <img src="icons/x-white.svg" id="not-logged-in-close">
    </div>
    <div id="not-logged-in-content">
        <p id="not-logged-in-popup-context">You need to be logged in to vote on reviews on disdex.</p>
        <div id="not-logged-in-button-container">
            <a id="not-logged-in-button" href="auth/redirect">Log in</a>
        </div>
    </div>
</div>
<link rel="stylesheet" href="style/notLoggedIn.css">
<script src="scripts/notLoggedIn.js"></script>