<div id="write-tag-name">
    <div class="left">
        <p>Tag name:</p>
        <input id="write-tag-name-input">
    </div>
    <div class="right">
        <img src="/icons/add.svg" id="write-tag-name-confirm">
    </div>
</div>
<script src="util/hashtagEditor/hashtagEditor.js"></script>