#dashboard-content-container, #dashboard-configure-server-content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
#dashboard-content {
    width: 1200px
}
#dashboard-configure-server-content {
    width: 800px;
}
#dashboard-content, #dashboard-configure-server-content {
    margin-top: 100px;
    padding-bottom: 100px;
}
#dashboard-content > h2, #dashboard-configure-server-content > h2 {
    font-family: var(--display-font);
    color: var(--text-color);
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
#dashboard-content > h2 > .username {
    color: var(--special-color-1);
    font-size: inherit;
}
#dashboard-content > hr, #dashboard-configure-server-content > hr {
    margin-top: 0px;
    border: none;
    height: 2px;
    width: 100%;
    background-color: #3B3B3B;
}

.identifier {
    margin-top: 10px;
    font-size: 25px;
    font-family: var(--display-font);
    font-weight: 600;
}
#servers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
    margin-top: 10px;
}
#add-server-button {
    width: 35px;
    height: 35px;
    background-color: var(--special-color-1);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    padding: 0px;
    cursor: pointer;
    border: none;
}
#add-server-button > img {
    height: 15px;
}



#dark-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    opacity: 0;
    display: none;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
#server-selector-popup, #add-bot-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 400px;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    display: none;
}
#server-selector-popup-top > p, #add-bot-popup-top > p {
    font-size: 28px;
    border-bottom: white 2px black;
}
#server-selector-popup-top, #add-bot-popup-top {
    background-color: var(--special-color-1);
    width: 100%;
    height: 60px;
    display: flex;
    font-family: var(--display-font);
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    user-select: none;
    justify-content: space-between;
}
#server-selector-popup-top > img, #add-bot-popup-top > img {
    height: 30px;
    padding-right: 20px;
    cursor: pointer;
}
#server-selector-popup-bottom, #add-bot-popup-bottom {
    box-sizing: border-box;
    margin: 10px;
    font-family: var(--display-font);
}
#choose-server-dropdown-container {
    display: flex;
    margin-top: 10px;
}
#refresh-choose-server-dropdown {
    background-color: transparent;
    outline: none;    
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
#refresh-choose-server-dropdown > img {
    height: 80%;
    margin-top: 5px;
}
#agree-terms-of-use {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}
#agree-terms-of-use > span {
    font-family: var(--display-font);
    font-size: 22px;
    margin-left: 10px;
    margin-top: 2px;
}
#agree-terms-of-use > span > a {
    color: var(--special-color-1);
}
#server-selector-popup-next-container, #add-bot-button-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}


.special-button {
    background-color: var(--special-color-1);
    height: 50px;
    display: flex;
    font-family: var(--main-font);
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: var(--navbar-color);
    filter: brightness(1);
    transition: filter 0.2s;
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -ms-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    border: none;
    margin-top: -15px;
    margin-right: 10px;
}
#add-bot-button {
    margin-top: 0px;
}
.special-button.blocked {
    filter: brightness(60%);
    cursor: not-allowed;
    -webkit-filter: brightness(60%);
}
.special-button > span {
    margin-left: 15px;
    font-family: var(--display-font);
}
.special-button > img {
    height: 100%;
    margin-left: -5px;
}




#server-indicator {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#dashboard-configure-server {
    display: none;
}
#server-indicator-icon {
    height: 50px;
    width: 50px;
}
#server-indicator-name {
    font-family: var(--display-font);
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 10px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#nsfw, #unlisted {
    display: flex;
    align-items: center;
}
.subtitle {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--display-font);
    color: var(--text-color);
}
#add-tag {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 35px;
    height: 35px;
    background-color: var(--special-color-1);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#add-tag > img {
    height: 15px;
    width: 15px;
}
#tags {
    height: 50px;
    margin-top: 10px;
}
#description {
    resize: none;
    height: 140px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: var(--display-font);
    margin-top: 5px;
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
    padding: 10px;
    border: white solid 3px;
    font-size: 20px;
}
#nsfw, #unlisted {
    margin-top: 20px;
    user-select: none;
    cursor: pointer;
}
#nsfw > p, #unlisted > p {
    font-family: var(--display-font);
    font-size: 30px;
    color: var(--text-color);
    margin-left: 10px;
    font-weight: 600;
}
#dashboard-configure-server-content {
    max-width: calc(100vw - 40px);
}
#dashboard-configure-server-content > .details {
    margin-left: 20px;
    font-family: var(--display-font);
    font-size: 18px;
    color: rgb(210, 210, 210);
}
#submit-button-container {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 20px;
}
#submit-button {
    background-color: var(--special-color-1);
    height: 50px;
    display: flex;
    font-family: var(--display-font);
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: var(--navbar-color);
    filter: brightness(1);
    transition: filter 0.2s;
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -ms-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    border: none;
    margin-top: 10px;
}
#submit-button > span {
    margin-left: 15px;
    font-family: var(--display-font);
}
#submit-button > img {
    height: 100%;
    margin-left: -5px;
}

#write-tag-name {
    position: absolute;
    width: 300px;
    height: 65px;
    background-color: grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--special-color-1);
    box-sizing: border-box;
    padding: 10px;
    display: none;
    color: var(--text-color);
}
#write-tag-name > .left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#write-tag-name > .left > p {
    font-family: var(--display-font);
    font-size: 18px;
    font-weight: 600;
    user-select: none;
}
#write-tag-name > .left > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: var(--display-font);
    font-size: 20px;
}
#write-tag-name > .right {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#write-tag-name > .right > img {
    height: 50%;
}
#short-description {
    resize: none;
    overflow-y: hidden;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 0px;
    font-family: var(--display-font);
    margin-top: 5px;
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
    padding: 10px;
    border: white solid 3px;
    font-size: 20px;
}
.settings-container {
    flex-grow: 1;
    justify-content: end;
    align-items: end;
    display: flex;
}
.settings-button {
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    margin-left: 20px;
}
.settings-button:hover {
    opacity: 1;
}
.server-bottom > .tags {
    height: 43px;
}
#add-bot-popup.hidden {
    display: none;
}