@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&family=Roboto:wght@400;700&display=swap');

:root {
    --background: #000000;
    --display-font: 'Poppins', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --text-color: #ffffff;
    --navbar-background: #303030;
    --navbar-color: #ffffff;
    --special-color-1: #ff00ee;
    --special-button-decoration-color: #000000;
    --intro-background: black;
    --intro-text-color: white;
    --navbar-background-2: #222;
}

* {
    margin: 0px;
    line-height: 100%;
    font-size: 23px;
}

body {
    background: var(--background);
    font-family: var(--main-font);
    color: var(--text-color);
}
img {
    user-select: none;
}
a {
    text-decoration: none;
}

#navbar {
    height: 60px;
    width: 100%;
    background: var(--navbar-background);
    color: var(--navbar-color);
    display: flex;
    align-items: center;
}
#logo {
    font-family: var(--display-font);
    font-size: 40px;
    margin-left: 20px;
    font-weight: 600;
    color: var(--navbar-color);
}
#navbar-right-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 20px;
    box-sizing: border-box;
}
#navbar-right-align > .special-button {
    background-color: var(--special-color-1);
    height: 45px;
    display: flex;
    font-family: var(--main-font);
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: var(--navbar-color);
}
#navbar-right-align > .special-button > span {
    margin-left: 15px;
    margin-right: -10px;
    font-family: var(--display-font);
}
#navbar-right-align > .special-button > img {
    height: 100%;
    margin-right: -3px
}
.normal-button {
    margin-right: 40px;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--display-font);
    color: var(--navbar-color);
}
#profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile > img {
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
    margin: 0px;
    background-color: var(--navbar-background-2);
    cursor: pointer;
}