@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&family=Roboto:wght@400;500;700&display=swap');


/* :root {
    --background: #151e27;
    --display-font: 'Poppins', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --text-color: #ffffff;
    --navbar-background: #355168;
    --navbar-color: #d3edff;
    --special-color-1: #0079b8;
    --special-button-decoration-color: #000000;
    --intro-background: black;
    --intro-text-color: white;
    --navbar-background-2: #151e27;
    --divider-color: white;
    --ribbon-top-background: #0079b8;
    --ribbon-bottom-text-color: white;
    --search-bar-background: #1B1B1B;
    --search-bar-text-color: white;
    --background-2: #1B1B1B;
    --text-2: white;
} */
:root {
    --background: #000000;
    --display-font: 'Poppins', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --text-color: #ffffff;
    --navbar-background: #303030;
    --navbar-color: #ffffff;
    --special-color-1: #ff00ee;
    --special-color-2: #892682;
    --special-button-decoration-color: #000000;
    --intro-background: black;
    --intro-text-color: white;
    --navbar-background-2: #222;
    --divider-color: white;
    --ribbon-top-background: #ff00ee;
    --ribbon-bottom-text-color: white;
    --search-bar-background: #1B1B1B;
    --search-bar-text-color: white;
    --background-2: #1B1B1B;
    --text-2: white;
}

* {
    margin: 0px;
    line-height: 100%;
    font-size: 23px;
}

body {
    background: var(--background);
    font-family: var(--main-font);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}
img {
    user-select: none;
}
a {
    text-decoration: none;
}

#navbar {
    height: 60px;
    width: 100%;
    background: var(--navbar-background);
    color: var(--navbar-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}
#logo {
    font-family: var(--display-font);
    font-size: 40px;
    margin-left: 20px;
    font-weight: 600;
    color: var(--navbar-color);
}
#navbar-right-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 20px;
    box-sizing: border-box;
}
#navbar-right-align > .special-button {
    background-color: var(--special-color-1);
    height: 45px;
    display: flex;
    font-family: var(--main-font);
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: var(--navbar-color);
}
#navbar-right-align > .special-button > span {
    margin-left: 15px;
    margin-right: -10px;
    font-family: var(--display-font);
}
#navbar-right-align > .special-button > img {
    height: 100%;
    margin-right: -3px
}
.normal-button {
    margin-right: 40px;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--display-font);
    color: var(--navbar-color);
}
#profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile > img {
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
    margin: 0px;
    background-color: var(--navbar-background-2);
    cursor: pointer;
}
.row {
    display: flex;
    flex-direction: row;
}



/* server */
.server {
    height: 220px;
    display: flex;
    flex-direction: column;
}
.server > .server-top {
    height: 70px;
    background-color: var(--special-color-1);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.server > .server-top > img {
    height: 100%;
    border: 4px white solid;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.server > .server-top > h3 {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--display-font);
    font-size: 30px;
    margin-left: 10px;
    font-weight: 600;
    padding-right: 5px;
    box-sizing: border-box;
}
.server > .server-top > div {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    height: 100%;
    align-items: center;
    min-width: fit-content;
}
.server > .server-top > div > button {
    border: white 4px solid;
    background-color: var(--special-color-1);
    font-family: var(--display-font);
    border-radius: 15px;
    height: 90%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-weight: 600;
    color: white;
    padding-inline: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
}
.server > .server-top > div > button:hover {
    background-color: white;
    color: var(--special-color-1);
}
.server > .server-bottom {
    background-color: var(--background-2);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.server > .server-bottom > p {
    font-family: var(--display-font);
    line-height: 110%;
}
.server > .server-bottom > .tags {
    display: flex;
    overflow: hidden;
}
.server > .server-bottom > .tags > .tag {
    background-color: var(--special-color-1);
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-top-left-radius: 0px;
    font-family: var(--display-font);
    font-weight: 600;
    padding: 10px;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}
.no-description {
    color: lightgrey;
}
#server-name {
    color: var(--text-color);
}
.two-sided {
    display: flex;
}
.two-sided > *:first-child {
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}
.two-sided > *:last-child {
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
}
.float-right {
    float: right;
    margin-left: 5px;
    width: 40%;
}