.statistic {
    margin-top: 100px;
}
#main-content {
    width: 1500px;
    max-width: calc(100vw - 80px);
    padding-top: 150px;
    box-sizing: border-box;
}
body {
    align-items: center;
}
#top-charts-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -3px;
}
#top-charts-container > div {
    width: calc(50% - 15px);
    padding: 10px;
    padding-top: 12px;
    box-sizing: border-box;
    border: 3px solid var(--special-color-1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#top-charts-container > div > .inner-chart-container {
    flex-grow: 1;
}
#bottom-charts-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
#bottom-charts-container > div {
    width: calc(33.3333% - 15px);
    padding: 10px;
    padding-top: 12px;
    box-sizing: border-box;
    border: 3px solid var(--special-color-1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#bottom-charts-container > div > .inner-chart-container {
    flex-grow: 1;
}
.header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .header-element {
    display: flex;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}
.header > .header-element:last-child {
    margin-right: 0px;
}
.header > .header-element > .box {
    height: 20px;
    width: 40px;
    box-sizing: border-box;
    margin-right: 6px;
}
.header > .header-element > .label {
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}
.header > .header-element.hidden > .label {
    text-decoration: line-through;
    color: grey;
}
.header > .header-element.default > .box {
    border: 3px solid var(--special-color-1);
    background-color: var(--special-color-2);
}
.header > .header-element.default > .label {
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 17px;
    height: 100%;
    line-height: 110%;
}
.header > .header-element.joins > .box {
    border: 3px solid #3dff44;
    background-color: #056100;
}
.header > .header-element.joins > .label {
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 17px;
    height: 100%;
    line-height: 110%;
}
.header > .header-element.leaves > .box {
    border: 3px solid #ff0000;
    background-color: #4d0000;
}
.header > .header-element.leaves > .label {
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 17px;
    height: 100%;
    line-height: 110%;
}
.totals {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.totals > .left, .totals > .right {
    width: calc(50% - 15px);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 3px solid var(--special-color-1);
    box-sizing: border-box;
    height: 40px;
    font-family: var(--display-font);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 20px;
}
.totals > .left > span, .totals > .right > span {
    margin-right: 5px;
    font-weight: 600;
    color: var(--special-color-1);
}
h2 {
    margin-bottom: 18px;
    font-size: 40px;
    font-family: var(--display-font);
    font-weight: 600;
}
h2 > .special {
    font-size: 40px;
    color: var(--special-color-1);
    font-family: var(--display-font);
}
#bump-invite-container {
    margin-top: 15px;
    display: flex;
}
#bump-invite-container > .bump, #bump-invite-container > .title {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#bump-invite-container > .bump > h3, #bump-invite-container > .invite > h3 {
    color: var(--text-color);
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 30px;
    display: flex;
}
.warning {
    height: 25px;
    margin-left: 10px;
}
#bump-paragraph {
    margin-bottom: 5px;
    color: #b4b4b4;
    font-size: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 5px;
}
#bump-paragraph > .special {
    color: var(--special-color-1);
    font-size: 20px;
    font-family: var(--display-font);
}
#execute-bump {
    background-color: var(--special-color-1);
    padding: 10px;
    padding-inline: 15px;
    width: fit-content;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}
#execute-bump:hover {
    opacity: 1
}
#execute-bump > span {
    color: white;
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 25px;
}
#execute-bump > img {
    height: 13px;
    margin-left: 5px;
}
#execute-bump.blocked {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    cursor: not-allowed;
}
.warning.hidden {
    display: none;
}
#current-channel-icon {
    margin-left: 4px
}
#invite-paragraph {
    display: flex;
    margin-top: 2px;
    color: #b4b4b4;
    font-size: 20px;
}
#invite-paragraph > .special {
    color: var(--special-color-1);
    margin-left: -1px;
    font-family: var(--display-font);
    font-size: 20px;
}
#change-invite-channel, #confirm-invite-channel {
    margin-left: 0px;
    background-color: var(--special-color-1);
    padding: 10px;
    padding-inline: 15px;
    width: fit-content;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}
#change-invite-channel:hover, #confirm-invite-channel:hover {
    opacity: 1
}
#change-invite-channel > span, #confirm-invite-channel > span {
    color: white;
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 25px;
}
#change-invite-channel > img, #confirm-invite-channel > img {
    height: 18px;
    margin-left: 5px;
}
#confirm-invite-channel {
    display: none;
}
#change-invite-channel-container {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}
#change-invite-channel-container > p {
    color: #b4b4b4;
    font-size: 20px;
    margin-top: 2px;
    display: none;
}
#invite-channel-picker {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
#invite-channel-picker > .element {
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    width: fit-content;
}
#invite-channel-picker > .element.checked > .label {
    font-weight: 600;
}
#invite-channel-picker > .element > .check {
    margin-right: 5px;
    height: 23px;
}
#invite-channel-picker > .element > .label {
    font-family: var(--display-font);
    font-size: 20px;
    user-select: none;
    width: fit-content;
}

.bot-join-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.bot-join-container > .bot-join-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 260px;
    background-color: var(--background-3);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.bot-join-container > .bot-join-box > .bot-join-header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: var(--special-color-1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 18px;
    box-sizing: border-box;
}
.bot-join-container > .bot-join-box > .bot-join-header > span {
    font-family: var(--display-font);
    font-size: 28px;
    font-weight: 600;
}
.bot-join-container > .bot-join-box > .bot-join-header > img {
    cursor: pointer;
}
.bot-join-container > .bot-join-box > .bot-join-content {
    padding: 18px;
    box-sizing: border-box;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.bot-join-container > .bot-join-box > .bot-join-content > p {
    font-size: 24px;
}
.bot-join-container > .bot-join-box > .bot-join-content > button {
    margin-left: auto;
    margin-right: 0;
    background-color: var(--special-color-1);
    font-family: var(--display-font);
    font-weight: 600;
    color: white;
    padding: 10px;
    padding-inline: 15px;
    border-radius: 1000px;
    cursor: pointer;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}
body {
    height: 100vh;
}