<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/bot-instructions.css">
        <title>Cordify | Bot instructions</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="content-container">
            <h2>What is next?</h2>
            <p>You are almost done setting up your server on Cordify. All that's left to do is to set the invite link for your server and bumping it to the top! This article will explain in detail how to do so.</p>
            <h3>1. Creating & setting an invite link for your server.</h3>
            <p>
                <img src="images/invite.png" class="float-right">
                Go into the channel that you want users to be in when they join your server through Cordify. In that channel, type /invite and make sure you're using a command from Cordify. Then, press enter. Your server should now be set up on Cordify!
                You can use this command again if you ever need to set the invite link to a different channel. While your server is now successfully posted on Cordify, there's still a very low chance anyone will join, since it's currently at/near the bottom of the list. The next step explains how to bump it to the top.
            </p>
            <h3>
                2. Bumping your server to the top of the list
            </h3>
            <p>
                <img src="images/bump.png" class="float-right">
                To bump your server, type the bump command. Then, your server will be bumped to the top of the list. You can use the command again in 2 hours.
            </p>
        </div>
    </body>
</html>
  