<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/index.css">
    </head>
    <body>
        <div id="navbar">
            <h1 id="logo">Disboard</h1>
            <div id="navbar-right-align">
                <a class="normal-button" id="ads-button">Ads</a>
                <a class="normal-button" id="search-button">Search</a>
                <a class="special-button" id="login-button" href="/auth">
                    <span>Login</span>
                    <img src="/icons/right.svg">
                </a>
            </div>
        </div>
    </body>
</html>