<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/dashboard.css">
        <title>Disboard - Dashboard</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="dashboard-default">
            <div id="dashboard-content-container">
                <div id="dashboard-content">
                    <h2>Welcome to your dashboard, <span class="username"><%- userData.username %></span>!</h2>
                    <hr>
                    <p class="identifier">
                        Servers
                        <button id="add-server-button" onclick="openServerSelectorPopup()">
                            <img src="/icons/add.svg">
                        </button>
                    </p>
                    <div id="servers">
                        
                    </div>
                </div>
            </div>
            <div id="dark-overlay"></div>
            <div id="server-selector-popup">
                <div id="server-selector-popup-top">
                    <h2>Add server</h2>
                    <img src="/icons/close.svg" id="close-button" onclick="closeServerSelectorPopup()">
                </div>
                <hr>
                <div id="server-selector-popup-bottom">
                    <div id="choose-server-dropdown-container">
                        <better-dropdown width="250px" options="Loading..." id="choose-server-dropdown"></better-dropdown>
                        <button id="refresh-choose-server-dropdown">
                            <img src="/icons/refresh.svg">
                        </button>
                    </div>
                    <div id="agree-terms-of-use">
                        <better-checkbox id="tos-agree-checkbox" listen-for-clicks="agree-terms-of-use"></better-checkbox>
                        <span>I agree to the&nbsp;<a href="/terms-of-use">rules</a>.</span>
                    </div>
                    <div id="server-selector-popup-next-container">
                        <button id="server-selector-popup-next" class="special-button blocked">
                            <span>Next</span>
                            <img src="/icons/right.svg">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="util/util.js"></script>
    <script src="util/betterDropdown/betterDropdown.js"></script>
    <script src="util/betterCheckbox/betterCheckbox.js"></script>
    <script src="scripts/dashboard.js"></script>
    
</html>