<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/dashboard.css">
        <title>Disboard - Dashboard</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="dashboard-default">
            <div id="dashboard-content-container">
                <div id="dashboard-content">
                    <h2>Welcome to your dashboard, <span class="username"><%- userData.username %></span>!</h2>
                    <hr>
                    <p class="identifier">
                        Servers
                        <button id="add-server-button" onclick="openServerSelectorPopup()">
                            <img src="/icons/add.svg">
                        </button>
                    </p>
                    <div id="servers">
                        
                    </div>
                </div>
            </div>
            <div id="dark-overlay"></div>
            <div id="server-selector-popup">
                <div id="server-selector-popup-top">
                    <h2>Add server</h2>
                    <img src="/icons/close.svg" id="close-button" onclick="closeServerSelectorPopup()">
                </div>
                <hr>
                <div id="server-selector-popup-bottom">
                    <div id="choose-server-dropdown-container">
                        <better-dropdown width="250px" options="Loading..." id="choose-server-dropdown"></better-dropdown>
                        <button id="refresh-choose-server-dropdown">
                            <img src="/icons/refresh.svg">
                        </button>
                    </div>
                    <div id="agree-terms-of-use">
                        <better-checkbox id="tos-agree-checkbox" listen-for-clicks="agree-terms-of-use"></better-checkbox>
                        <span>I agree to the&nbsp;<a href="/terms-of-use">rules</a>.</span>
                    </div>
                    <div id="server-selector-popup-next-container">
                        <button id="server-selector-popup-next" class="special-button blocked">
                            <span>Next</span>
                            <img src="/icons/right.svg">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="dashboard-configure-server">
            <div id="dashboard-configure-server-content-container">
                <div id="dashboard-configure-server-content">
                    <h2>Configure your server</h2>
                    <hr>
                    
                    <div id="server-indicator">
                        <img id="server-indicator-icon">
                        <p id="server-indicator-name">Server</p>
                    </div>

                    <p class="subtitle">Main language</p>
                    <better-dropdown style="transform: translate(20px)" width="200px" options="English,аҧсуа,Afaraf,Afrikaans,Akan,Shqip,አማርኛ,العربية,Aragonés,Հայերեն,অসমীয়া,авар мацӀ, магӀарул мацӀ,avesta,aymar aru,azərbaycan dili,bamanankan,башҡорт теле,euskara, euskera,Беларуская,বাংলা,भोजपुरी,Bislama,bosanski jezik,brezhoneg,български език,ဗမာစာ,Català,Chamoru,нохчийн мотт,chiCheŵa, chinyanja,中文 (Zhōngwén), 汉语, 漢語,чӑваш чӗлхи,Kernewek,corsu, lingua corsa,ᓀᐦᐃᔭᐍᐏᐣ,hrvatski,česky, čeština,dansk,ދިވެހި,Nederlands, Vlaams,Esperanto,eesti, eesti keel,Eʋegbe,føroyskt,vosa Vakaviti,suomi, suomen kieli,français,,Fulfulde, Pulaar, Pular,Galego,ქართული,Deutsch,Ελληνικά,Avañeẽ,ગુજરાતી,Kreyòl ayisyen,Hausa, هَوُسَ,עברית,Otjiherero,हिन्दी, हिंदी,Hiri Motu,Magyar,Interlingua,Bahasa Indonesia,Gaeilge,Asụsụ Igbo,Iñupiaq, Iñupiatun,Ido,Íslenska,Italiano,ᐃᓄᒃᑎᑐᑦ,日本語 (にほんご／にっぽんご),basa Jawa,kalaallisut, kalaallit oqaasii,ಕನ್ನಡ,Kanuri,कश्मीरी, كشميري‎,Қазақ тілі,ភាសាខ្មែរ,Gĩkũyũ,Ikinyarwanda,кыргыз тили,коми кыв,KiKongo,한국어 (韓國語), 조선말 (朝鮮語),Kurdî, كوردی‎,Kuanyama,latine, lingua latina,Lëtzebuergesch,Luganda,Limburgs,Lingála,ພາສາລາວ,lietuvių kalba,,latviešu valoda,Gaelg, Gailck,македонски јазик,Malagasy fiteny,bahasa Melayu, بهاس ملايو‎,മലയാളം,Malti,te reo Māori,मराठी,Kajin M̧ajeļ,монгол,Ekakairũ Naoero,Diné bizaad, Dinékʼehǰí,Norsk bokmål,isiNdebele,नेपाली,Owambo,Norsk nynorsk,Norsk,ꆈꌠ꒿ Nuosuhxop,isiNdebele,Occitan,ᐊᓂᔑᓈᐯᒧᐎᓐ,ѩзыкъ словѣньскъ,Afaan Oromoo,ଓଡ଼ିଆ,ирон æвзаг,ਪੰਜਾਬੀ, پنجابی‎,पाऴि,فارسی,polski,پښتو,Português,Runa Simi, Kichwa,rumantsch grischun,kiRundi,română,русский язык,संस्कृतम्,sardu,सिन्धी, سنڌي، سندھی‎,Davvisámegiella,gagana faa Samoa,yângâ tî sängö,српски језик,Gàidhlig,chiShona,සිංහල,slovenčina,slovenščina,Soomaaliga, af Soomaali,Sesotho,español, castellano,Basa Sunda,Kiswahili,SiSwati,svenska,தமிழ்,తెలుగు,тоҷикӣ, toğikī, تاجیکی‎,ไทย,ትግርኛ,བོད་ཡིག,Türkmen, Түркмен,Wikang Tagalog, ᜏᜒᜃᜅ᜔ ᜆᜄᜎᜓᜄ᜔,Setswana,faka Tonga,Türkçe,Xitsonga,татарча, tatarça, تاتارچا‎,Twi,Reo Tahiti,Uyƣurqə, ئۇيغۇرچە‎,українська,اردو,zbek, Ўзбек, أۇزبېك‎,Tshivenḓa,Tiếng Việt,Volapük,Walon,Cymraeg,Wollof,Frysk,isiXhosa,ייִדיש,Yorùbá,Saɯ cueŋƅ, Saw cuengh"></better-dropdown>
                    
                    <p class="subtitle">Category</p>
                    <better-dropdown style="transform: translate(20px)" width="200px" options="Community,Gaming,Anime - Manga,Music,Technology,Language,Movies,Media,Other"></better-dropdown>
                    
                    <div class="row">
                        <p class="subtitle">Tags</p>
                        <button id="add-tag">
                            <img src="/icons/add.svg">
                        </button>
                    </div>

                    
                    <div id="tags">

                    </div>
                    

                    <p class="subtitle">Description</p>
                    <textarea id="description" placeholder="Why should people join your server?"></textarea>

                    <div id="nsfw">
                        <better-checkbox listen-for-clicks="nsfw"></better-checkbox>
                        <p>NSFW</p>
                    </div>
                    <p class="details">Must be checked if the server's main theme is NSFW, such as sexually explicit content.</p>

                    <div id="unlisted">
                        <better-checkbox listen-for-clicks="unlisted"></better-checkbox>
                        <p>Unlisted</p>
                    </div>
                    <p class="details">If checked, will be hidden from the public server list, and will only be available to people who have the link.</p>
                    <div id="submit-button-container">
                        <button id="submit-button">
                            <span>Submit</span>
                            <img src="/icons/right.svg">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="util/util.js"></script>
    <script src="util/betterDropdown/betterDropdown.js"></script>
    <script src="util/betterCheckbox/betterCheckbox.js"></script>
    <script src="util/hashtagRenderer/hashtagRenderer.js"></script>
    <script src="scripts/dashboard.js"></script>
</html>