<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <title>Disboard - Dashboard</title>
        <base href="/">
    </head>
    <body>
        <%- include("./partials/navbar") %>
    </body>
</html>