<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/index.css">
        
    </head>
    <body>
        <div id="navbar">
            <h1 id="logo">Disboard</h1>
        </div>
    </body>
</html>