<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/index.css">
        <title>Disboard</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="intro">
            <h1 class="title">Disboard</h1>
            <p class="subtitle">Find the best Discord servers.</p>
            <div id="arguments">
                <div class="argument">
                    <img src="/images/joinCommunities.svg" ondragstart="return false">
                    <div class="text">
                        <h3 class="title">Join communities</h3>
                        <p class="paragraph">Disboard unites the best discord servers into one big list! Their owners all want you in, so choose the one that interests you the most and start socializing!</p>
                    </div>
                </div>
                <div class="argument">
                    <img src="/images/growServer.svg" ondragstart="return false">
                    <div class="text">
                        <h3 class="title">Grow your server</h3>
                        <p class="paragraph">Disboard advertises your server on the website and lets people know your server exists. Bump to put your server on the first page!</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="ribbon-top">
            Looking to advertise your server? <a href="/auth">Join DISDEX</a>
        </div>
        <div id="bottom">
            <p id="search-bar-title">Search 100+ servers from around the world!</p>
            <div id="search-bar">
                <div>
                    <input id="search-bar-input" placeholder="Search">
                </div>
                <button id="search-bar-button">
                    <img src="/icons/search.svg">
                </button>
            </div>
            <div id="search-categories">
                <div class="category">
                    Community
                </div>
                <div class="category">
                    Gaming
                </div>
                <div class="category">
                    Anime - Manga
                </div>
                <div class="category">
                    Music
                </div>
                <div class="category">
                    Technology
                </div>
                <div class="category">
                    Language
                </div>
                <div class="category">
                    Movies
                </div>
                <div class="category">
                    Media
                </div>
                <div class="category">
                    Programming
                </div>
                <div class="category">
                    Other
                </div>
            </div>

            <div id="servers">
                
            </div>
        </div>
    </body>
    <script src="util/util.js"></script>
    <script src="scripts/index.js"></script>
</html>