<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/index.css">
    </head>
    <body>
        <div id="navbar">
            <h1 id="logo">Disboard</h1>
            <div id="navbar-right-align">
                <a class="normal-button" id="ads-button">Ads</a>
                <a class="normal-button" id="search-button">Search</a>
                <a class="special-button" id="login-button">
                    <span>Login</span>
                    <img src="/icons/right.svg">
                </a>
            </div>
        </div>
        <div id="intro">
            <h1 class="title">Disboard</h1>
            <p class="subtitle">Find the best Discord servers.</p>
            <div id="arguments">
                <div class="argument">
                    <img src="/images/joinCommunities.svg" ondragstart="return false">
                    <div class="text">
                        <h3 class="title">Join communities</h3>
                        <p class="paragraph">Disboard unites the best discord servers into one big list! Their owners all want you in, so choose the one that interests you the most and start socializing!</p>
                    </div>
                </div>
                <div class="argument">
                    <img src="/images/growServer.svg" ondragstart="return false">
                    <div class="text">
                        <h3 class="title">Grow your server</h3>
                        <p class="paragraph">Disboard advertises your server on the website and lets people know your server exists. Bump to put your server on the first page!</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>