<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/server.css">
        <title>Disboard - Dashboard</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="server-container">
            <div id="server-content">
                <div id="server-left">
                    <img src="https://cdn.discordapp.com/icons/988543728388022342/4785509bf88afe3c94ce3accadc6ae7c.jpg?size=512">
                    <div id="server-category">

                    </div>
                    <div id="members-container">
                        <span id="members-identifier">22</span>
                        <span id="members-label">MEMBERS</span>
                    </div>
                    <div id="online-members-container">
                        <span id="online-members-identifier">13</span>
                        <span id="online-members-label">ONLINE</span>
                    </div>
                </div>
                <div id="server-right">
                    <a id="server-name">
                        <span>The Fourth Wall Dimension</span>
                        <img src="icons/join-server.svg">
                    </a>
                    <p id="server-short-description">
                        A fun roleplay server for everyone
                    </p>
                    <div id="server-tags">
                        <div class="tag">
                            #Roleplay
                        </div>
                        <div class="tag">
                            #Friendly
                        </div>
                        <div class="tag">
                            #RP
                        </div>
                        <div class="tag">
                            #Storytelling
                        </div>
                        <div class="tag">
                            #System-friendly
                        </div>
                    </div>
                    <p id="server-description">
                        Hello, and thank you for looking into The Fourth Wall Dimension! We are an original RP server led by systems!

                        We have a very welcoming community, so if you want to join just to say hi or watch the chaos go down, feel free!

                        Your character can be a character from a canon universe, or something completely original! Your character won't be staying in their base universe, as this RP centers around traveling through the multiverse and fixing stories that need correcting.

                        While this isn't a D&D server, we do use some aspects of D&D games such as rolling dice to determine certain outcomes, and we have specific people leading the story as it continues.

                        So far, the server is mostly minors, so keep that in mind when interacting!

                        We hope to see you there! We're all excited to meet you!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>