<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/stats.css">
        <title>Stats | Disdex</title>
        <base href="/">
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="main-content">
            <div id="bottom-charts-container">
                <div id="messages-chart-container" class="chart-container">
                    <div>
                        <canvas id="messages-chart"></canvas>
                    </div>
                </div>
                <div id="joins-leaves-chart-container" class="chart-container">
                    <div>
                        <canvas id="joins-leaves-chart"></canvas>
                    </div>
                </div>
                <div id="members-chart-container" class="chart-container">
                    <div>
                        <canvas id="members-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- <canvas class="statistic" id="messages-chart"></canvas> -->
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        serverData = <%- JSON.stringify(serverData) %>
    </script>
    <script src="util/util.js"></script>
    <script src="scripts/stats.js"></script>
</html>