<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/dashboard.css">
        <title>Stats | Disdex</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <scripts src="scripts/stats.js"></scripts>
</html>