<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style/default.css">
        <link rel="stylesheet" href="/style/terms-of-use.css">
        <title>Disboard | Terms of use</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <div id="content-container">
            <h2>Terms of use</h2>
            <p>
                In order to keep a safe community, there are some guidelines which need to be followed by you. <br>
                By using DISBOARD, you agree to the following guidelines: <br> <br>

                The use of swear words, dirty words or NSFW (sexual content) to our discretion in a server's meta (title, description and picture), review or other content that may be seen by other users in DISBOARD is not allowed. This will lead to the removal of the content, however, you'll be able to repost the content with a proper language. <br> <br>
                You may not violate any laws or regulations in your country of residence or promote the violation of them. <br> <br>
                Servers violating Discord Community Guidelines are not allowed. <br> <br>
                The use of bots or other scripts to automatically do actions in DISBOARD such as bumping a server ("auto-bump") is not allowed. Bumping, creating reviews and etc. must be done manually. <br> <br>
                You may not list servers which serve for the sole purpose of redirecting or advertising other servers or have no content (To our discretion). <br> <br>
                You may not reward or force users to do actions in DISBOARD. For instance, you may not reward your users for posting a nice review on a server or force them to bump a server. <br> <br>
                You may not create multiple Discord accounts to submit multiple reviews. Please just post 1 review per person. <br> <br>
                All servers which are mainly based on NSFW (sexual content to our discretion) must be marked as "NSFW" in DISBOARD <br> <br>
            </p>
        </div>
    </body>
</html>
  